<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seccion</title>
</head>
<body>

    <p>Inicio de seccion</p>

    <form action="/inicio/post" method="POST">

        <input name="usuario" type="text" placeholder="Usuario"/>
        <input name="contraseña" type="text" placeholder="Contraseña"/>

        <input type="submit" value="Iniciar"/>
    </form>
    

</body>
</html>