<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/2.css')}}">
    <title>Consultar</title>
</head>
<body>
    <div class="login-box">
        <img src="../static/image/logo.png" class="avatar" alt="Avatar Image">
        <h1>Consultar telefono de propetario</h1>
        <form action="/consultar/post" method="POST">

            <input name="mascota" type="text" placeholder="Nombre de la mascota"/>
            <input name="propetario" type="text" placeholder="Nombre del dueño"/>

            <input type="submit" value="Consultar"/>
        </form>
    </div>
</body>
</html>