<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/3.css')}}">
    <title>Eliminar</title>
</head>
<body>
    <div class="login-box">
        <img src="../static/image/logo.png" class="avatar" alt="Avatar Image">
        <h1>Eliminar una mascota</h1>

        <form action="/eliminar/post" method="POST">
            <p>ingrese sus datos para poder eliminar</p>
            <input name="propetario" type="text" placeholder="Nombre del dueño"/>
            <input name="telefono" type="text" placeholder="telefono"/>

            <input type="submit" value="eliminar"/>
        </form>
    </div>
</body>
</html>