<!DOCTYPE html>
<html lang="en">
<head>
    <title>tercero</title>
</head>
<body>
    <p>3. Calcule el valor de R</p>
    <form action = "/tercero/post" method = "POST">

        <input name="valora" type="text" placeholder="numero a"/>
        <input name="valorb" type="text" placeholder="numero b"/>
        <input name="valorc" type="text" placeholder="numero c"/>
        <input name="valord" type="text" placeholder="numero d"/>
        <input name="valorx" type="text" placeholder="numero x"/>
        <input name="valory" type="text" placeholder="numero y"/>

        <input type="submit" value="R"/>
    </form>
    <p>{{resultado}}</p>
    <p>{{resSULtado}}</p> 
    <p>{{reSULtado}}</p>
</body>
</html>